<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huella de Carbono Corporativa</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>Cálculo Huella de Carbono Corporativa</h1>
    </div>
    <p>La huella de carbono cuantifica la cantidad total de gases efecto invernadero (GEI) que son liberadas directa o indirectamente a la atmosfera,</p>
    <p> como consecuencia del desarrollo de cualquier actividad (individuo, organización, evento, proyecto, servicio o producto).</p>
    {% block contenido %}
        
    {% endblock contenido %}
        
    {% include 'home/footer.html' %}

</body>
</html>